.Rproj.user
.Rhistory
.RData
.Rproj
.Ruserdata
.secrets
*.Pitch
*.PitchTier
*.csv
*.pptx
*.docx
*.rds
Stimuli/*
Media/*
Figures/*
Data/*.rds
Results/*.rds
_targets/objects/*
_targets/*
Rmd/nul