.Rproj.user
.Rhistory
.RData
.Rproj
.Ruserdata
.secrets
*.Pitch
*.PitchTier
*.csv
*.pptx
*.docx
*.rds
stimuli/*.wav
Media/*
img/*
data/*.rds
Results/*.rds
_targets/objects/*
_targets/*
manuscript/nul
docs/nul